<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div id="transaction1">
    <div>
        Your ID: <input v-model="userid"/>
    </div>
    <div class="info">
        <div><b>Transactions#{{current}}/{{round}}</b></div>
        <br/>
        <div>Time left: <b>{{formatTime}}</b></div>

        <div>Select the number of notes and coins as the change</div>
        <div>Amount to collect: {{price}} </div>
        <div>Payment made by customer: {{pay}}</div>
        <div>Change: <b>{{change}}</b></div>

        <br/>
        <div>The excess accumulated from past transactions: <b>{{totalExcess}}</b></div>
    </div>
<div>
    <div class="row">
            <div class="col col-3">
                <img src="img/ten.png"/><br/>
                <button v-on:click="sub('ten')">-</button><input v-model="ten"/><button v-on:click="add('ten')">+</button>
            </div>
            <div class="col col-3">
                <img src="img/five.png"/><br/>
                <button v-on:click="sub('five')">-</button><input v-model="five"/><button v-on:click="add('five')">+</button>
            </div>
            <div class="col col-3">
                <img src="img/two.png"/><br/>
                <button v-on:click="sub('two')">-</button><input v-model="two"/><button v-on:click="add('two')">+</button>
            </div>
        
    </div>
    <div class="row">
        <div class="col col-5">
            <div class="float-bottom">
                <img src="img/dollar.png" style="width: 55%"/><br/>
                <button v-on:click="sub('one')">-</button><input v-model="one"/><button v-on:click="add('one')">+</button>
            </div>
        </div>
        <div class="col col-5">
            <div class="float-bottom">
                <img src="img/fiftyc.png" style="width: 50%"/><br/>
                <button v-on:click="sub('fiftyc')">-</button><input v-model="fiftyc"/><button v-on:click="add('fiftyc')">+</button>
            </div>
        </div>
        <div class="col col-5">
            <div class="float-bottom">
                <img src="img/twentyc.png" style="width: 45%"/><br/>
                <button v-on:click="sub('twentyc')">-</button><input v-model="twentyc"/><button v-on:click="add('twentyc')">+</button>
            </div>
        </div>
        <div class="col col-5">
            <div class="float-bottom">
                <img src="img/tenc.png" style="width: 43%"/><br/>
                <button v-on:click="sub('tenc')">-</button><input v-model="tenc"/><button v-on:click="add('tenc')">+</button>
            </div>
        </div>
        <div class="col col-5">
            <div class="float-bottom">
                <img src="img/fivec.png" style="width: 35%"/><br/>
                <button v-on:click="sub('fivec')">-</button><input v-model="fivec"/><button v-on:click="add('fivec')">+</button>
            </div>
        </div>
        
    </div>

<div class="control-btn">
    <button v-on:click="onSubmit">Submit</button>
</div>
    
<!-- <script>
localStorage.setItem('earn_transac1', earn_stage)
</script> -->

</div>
</div>
  <script src="js/transaction1.js"></script>
</body>
</html>
